.container {
  position: relative;
  width: 50vw;
  min-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 10vmin;
  font-weight: 700;
  text-align: center;
}

.text {
  font-size: 5vmin;
}
